body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiTableCell-root{
  border: none !important;
}

.MuiTableCell-head {
  padding-left: 5px !important;
}

.MuiSelect-select {
  padding-left: 5px !important;
}